.loader__container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(228, 38%, 15%);
}

.loader__container div {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: radial-gradient(#0658aa, white);
  border: 8px solid;
  border-color: #076acd transparent #076acd transparent;
  -webkit-animation: loader 1s infinite cubic-bezier(0.89, 0, 0.5, 1);
  animation: loader 1s infinite cubic-bezier(0.89, 0, 0.5, 1);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 53, 214, 0.2);
  -moz-box-shadow: inset 0 0 10px rgba(0, 53, 214, 0.2);
  box-shadow: inset 0 0 10px rgba(0, 53, 214, 0.2);
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
