.profile {
  flex: 1;
  min-height: 100vh;
  margin-left: 75px;
  background-color: var(--main-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 800;
  color: var(--color);
  position: relative;
  overflow: hidden;
  z-index: 5;
}

.profile::before {
  content: "";
  border: 50px solid hsla(229, 23%, 18%, 0.4);
  height: 60%;
  position: absolute;
  transform: rotate(30deg);
  left: 0;
  top: 0;
  z-index: -1;
}

.profile::after {
  content: "";
  border: 50px solid hsla(229, 23%, 18%, 0.4);
  height: 60%;
  position: absolute;
  transform: rotate(30deg);
  right: 0;
  bottom: 0;
  z-index: -1;
}

.profile_head h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 5px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .profile_head h3 {
    font-size: 1rem;
    font-weight: 700;
  }
}

.profile_main {
  width: 70%;
  min-height: 60vh;
  /* min-width: 500px; */
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid hsl(229, 23%, 58%);
  padding: 15px;
  --main-bg: hsl(229, 23%, 20%);
  background-color: var(--main-bg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  z-index: 100;
}

@media screen and (max-width: 767px) {
  .profile_main {
    width: 90%;
    margin: 2em auto;
  }
}

.profile_main form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile_main form div:last-child {
  margin-top: 30px;
  display: flex;
}

.input_style {
  width: 100%;
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.input_style label {
  margin-bottom: 0.5em;
  color: lightseagreen;
  font-weight: 500;
  letter-spacing: 2px;
}

@media screen and (max-width: 767px) {
  .input_style label {
    font-size: 0.8rem;
  }
}

/* .profile_main form div input,
select {
  margin-inline: 10px;
} */

.input_style input,
select {
  width: 100%;
  margin-bottom: 0.6em;
  padding: 0.5em;
  background-color: hsla(210, 100%, 49%, 0.1);
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.146);
  color: white;
  border-radius: 5px;
}
.input_style input:hover,
select:hover,
.input_style input:focus,
select:focus {
  box-shadow: 0px 0px 5px hsl(210, 100%, 49%);
}

.img_style input {
  padding-top: 10px;
}

#submitData {
  background-color: hsl(210, 100%, 49%);
  color: white;
  margin: 1em 0;
  border: 1px solid hsl(210, 100%, 49%);
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  padding: 0.7em 2em;
  border-radius: 5px;
  animation: popUp 1s 1;
}

@keyframes popUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

#submitData:hover,
#submitData:focus {
  background-color: transparent;
  color: hsl(210, 100%, 49%);
  box-shadow: 0px 0px 5px hsl(210, 100%, 49%);
}

#submitData:active {
  transform: scale(0.98);
}

#editData {
  color: white;
  background-color: rgba(75, 192, 192, 0.1);
  border: 1px solid rgba(75, 192, 192, 1);
  margin: 15px 0px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  margin-left: 10px;
  padding: 10px 0px;
  border-radius: 5px;
}

#editData:hover {
  color: black;
  background-color: rgba(75, 192, 192, 1);
  border: none;
}

.form_description {
  width: 95%;
  text-align: center;
  font-size: 12px;
  color: white;
  font-weight: 400;
}

#show_status {
  width: 80%;
  margin-inline: auto;
  position: relative;
  display: none;
}

#show_status progress {
  width: 80%;
}

.percentageText {
  font-size: 16px;
  text-align: center;
  margin-inline: 10px;
}

#uploadDone {
  display: none;
}

/* Media Query */

/* @media (min-width: 768px) and (max-width: 1024px) {
  .img_style {
    display: flex;
    flex-direction: column;
  }
} */

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

/* @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .profile_main {
    width: 70%;
    min-width: 400px;
    max-width: 1000px;
    padding: 10px;
  }

  .img_style {
    display: flex;
    flex-direction: column;
  }
} */

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

/* @media (min-width: 481px) and (max-width: 767px) {} */

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

/* @media (min-width: 320px) and (max-width: 767px) {
  .profile {
    font-size: 15px;
    font-weight: 800;
    color: var(--color);
    position: relative;
    overflow: hidden;
    padding: 20px 10px;
  }

  .profile_head h3 {
    font-size: 15px;
  }

  .profile_main {
    width: 95%;
    height: 100%;
    min-width: 100px;
    max-width: 1000px;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    overflow-y: auto;
  }

  .profile_main form div {
    width: 100%;
    margin: 0px;
  }

  .profile_main form div:last-child {
    margin-top: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .input_style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .input_style label {
    height: 30px;
    padding: 0px;
    color: white;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 14px;
  }

  .profile_main form div input,
  select {
    width: 100%;
    margin-left: 0px;
  }

  .input_style input,
  select {
    height: 40px;
    color: white;
    border-radius: 5px;
  }

  .img_style input {
    margin-top: 10px;
    width: 100%;
    padding-top: 6px;
  }

  .img_style {
    display: flex;
    flex-direction: column;
  }

  #submitData {
    margin: 10px 0px;
    font-size: 15px;
    font-weight: 700;
    margin-right: 10px;
    padding: 10px 0px;
  }

  #editData {
    margin: 10px 0px;
    font-size: 15px;
    font-weight: 700;
    margin-left: 10px;
    padding: 10px 0px;
  }

  .form_description {
    width: 95%;
    font-size: 12px;
    font-weight: 400;
  }
} */

/* @media (min-width: 220px) and (max-width: 480px) {
  #show_status {
    width: 100%;
  }
} */
