.chartShow {
  min-height: 350px;
  width: 90%;
  border: 1px solid hsl(229, 23%, 58%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--side-bg);
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

@media (min-width: 250px) and (max-width: 940px) {
  .chartShow {
    width: 100%;
  }
}
